.container {
  width: 95%;
  height: 100%;
  padding: 1%;
  margin: 0.9375rem auto;
  background-color: var(--bg);
}

.col,
.col-12,
.columns,
.columns-row,
.columns.columns-12 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/** 
*
* Sistema De Grillas para Escritorio, 100% seleccionable
* 
*/
.col-11,
.columns.columns-11 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-10,
.columns.columns-10 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-9,
.columns.columns-9 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-8,
.columns.columns-8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-7,
.columns.columns-7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-6,
.columns.columns-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-5,
.columns.columns-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.col-4,
.columns.columns-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col-3,
.columns.columns-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.col-2,
.columns.columns-2 {
  grid-template-columns: 1fr 1fr;
}

.col-1,
.columns.columns-1 {
  grid-template-columns: 1fr;
}

/** 
*
* Sistema De Grillas funcional a 6 columnas para pantallas menores a 1024 px
* 
*/

@media screen and (max-width: 64rem) {
  .col,
  .columns,
  .columns-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/** 
*
* Sistema De Grillas funcional a 3 columnas para pantallas menores a 770 px
* 
*/

@media screen and (max-width: 48.125rem) {
  .col,
  .columns,
  .columns-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/** 
*
* Sistema De Grillas funcional a 1 columnas para pantallas moviles
* 
*/

@media screen and (max-width: 26.5625rem) {
  .col,
  .columns,
  .columns-row {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }
}

/** 
*
* Sistema De Grillas En modo columna completa
* 
*/

.col-column,
.columns-column {
  display: flex;
  flex-direction: column;
}
